<section class="download" id="download">
  <div class="download-container container">
    <img srcset="./img/download/download-desk-min.png 1x, ./img/download/download-desk@2x-min.png 2x"
      src="./img/download/download-desk-min.png" alt="Download Game" class="download-image" />
    <div class="download-content">
      <div class="content-text">
        <h3 class="download-title">
          THE MANSION AWAITS — DISCOVER THE SECRET WITHIN
        </h3>
        <p>
          Free to play with optional features. Experience a story like no other
        </p>
      </div>
      <div class="content-btn">
        <a href="https://play.google.com/store/apps/details?id=com.geode.dazzlystories&hl=en&gl=us" target="_blank"
          rel="noopener noreferrer" class="shine-link">
          <img class="img-google" src="./img/download/google-desk-min.png" alt="Google Play" width="146" height="43"
            srcset="./img/download/google-desk-min.png 1x, ./img/download/google-desk@2x-min.png 2x" />
        </a>
        <a href="https://www.apple.com/app-store/" target="_blank" rel="noopener noreferrer" class="shine-link">
          <img class="img-app" src="../img/download/app-store-desk-min.png" alt="App store" width="130" height="43"
            srcset="./img/download/app-store-desk-min.png 1x, ./img/download/app-store-desk@2x-min.png2x" />
        </a>
      </div>
    </div>
  </div>
</section>