<section class="faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <div class="faq-main-info">
      <div class="faq-img"><img srcset="./img/faq/faq-min.png 1x, ./img/faq/faq@2x-min.png 2x"
          src="./img/faq/faq-min.png" alt="gallery-img" width="460" height="400" class="faq-picture">
      </div>
      <ul class="acordeon-list-faq">
        <li class="acordeon-item-faq">
          <div class="block-faq">
            <h3 class="item-header-faq">Is the game story-driven?</h3>
            <button type="button" class="acordion-btn-faq" aria-label="show resume description">
              <svg class="icon-faq" width="20" height="20">
                <use href="./img/sprite.svg#arr-down"></use>
              </svg>
            </button>
          </div>
          <div class="text-block-faq js-acordion-panel">
            <p class="text-faq">Yes! It’s designed for those who love immersive narratives, mystery, and decision-based
              progression</p>

          </div>
        </li>
        <li class="acordeon-item-faq">
          <div class="block-faq">
            <h3 class="item-header-faq">Is it educational?</h3>
            <button type="button" class="acordion-btn-faq" aria-label="show resume description">
              <svg class="icon-faq" width="20" height="20">
                <use href="./img/sprite.svg#arr-down"></use>
              </svg>
            </button>
          </div>
          <div class="text-block-faq js-acordion-panel">
            <p class="text-faq">Absolutely. You’ll learn fascinating facts about gems, their history, and symbolism
              throughout the game.</p>

          </div>
        </li>
        <li class="acordeon-item-faq">
          <div class="block-faq">
            <h3 class="item-header-faq">Is the game free?</h3>
            <button type="button" class="acordion-btn-faq" aria-label="show resume description">
              <svg class="icon-faq" width="20" height="20">
                <use href="./img/sprite.svg#arr-down"></use>
              </svg>
            </button>
          </div>
          <div class="text-block-faq js-acordion-panel">
            <p class="text-faq">Yes, with optional purchases for visual customization and gameplay boosts.</p>

          </div>
        </li>
        <li class="acordeon-item-faq">
          <div class="block-faq">
            <h3 class="item-header-faq">Can I replay the game with different choices?</h3>
            <button type="button" class="acordion-btn-faq" aria-label="show resume description">
              <svg class="icon-faq" width="20" height="20">
                <use href="./img/sprite.svg#arr-down"></use>
              </svg>
            </button>
          </div>
          <div class="text-block-faq js-acordion-panel">
            <p class="text-faq">Yes. Your decisions shape the outcome — replay to uncover both endings.</p>

          </div>
        </li>
        <li class="acordeon-item-faq">
          <div class="block-faq">
            <h3 class="item-header-faq">What type of puzzles are included?</h3>
            <button type="button" class="acordion-btn-faq" aria-label="show resume description">
              <svg class="icon-faq" width="20" height="20">
                <use href="./img/sprite.svg#arr-down"></use>
              </svg>
            </button>
          </div>
          <div class="text-block-faq js-acordion-panel">
            <p class="text-faq">Mostly gem sorting and matching with a focus on artistic restoration.</p>

          </div>
        </li>
      </ul>
    </div>
  </div>
</section>