<header class="header" id="header">
  <div class="container header-container">
    <a href="./index.html" class="header-logo">
      <img class="logo-img" src="./img/logo-desc@2x-min.png" alt="wed-site logo" width="32" height="32">
    </a>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link-home" href="#hero">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#key-features">Key Features</a></li>
        <li class="nav-item"><a class="nav-link" href="#characters">Characters</a></li>
        <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="">Download</a></li>
      </ul>
    </nav>
    <button type="button" class="mobile-open-btn">
      <svg width="22" height="20">
        <use href="./img/sprite.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>