<div id="mobile-menu" class="mobile-menu" aria-hidden="true" role="navigation">
  <div class="mobile-menu-container">
    <button type="button" id="mobile-menu-close" class="mobile-menu-close" data-action="close" aria-label="close menu">
      <svg class="mob-menu-close" width="17.5" height="17.5">
        <use href="./img/sprite.svg#x"></use>
      </svg>
    </button>
    <div class="mobile-menu-content">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item"><a href="#hero" class="menu-link-home">Home</a></li>
        <li class="mobile-menu-item"><a href="#about" class="menu-link">About</a></li>
        <li class="mobile-menu-item"><a href="#features" class="menu-link">Key Features</a></li>
        <li class="mobile-menu-item"><a href="#characters" class="menu-link">Characters</a></li>
        <li class="mobile-menu-item"><a href="#gallery" class="menu-link">Gallery</a></li>
        <li class="mobile-menu-item"><a href="#download" class="menu-link">Download</a></li>
      </ul>
    </div>
  </div>
</div>