:root {
  --font-family: 'Open Sans', sans-serif;
  --second-family: 'Lora', sans-serif;
  --third-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #efe9d9;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

body.scroll-locked {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
