.header {
  border-bottom: 1px solid rgba(184, 112, 0, 0.7);
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  padding: 0px 16px 0px 8px;
  max-width: 320px;
  height: 48px;
  margin: 0 auto;
}

.nav-list {
  display: none;
}

.mobile-open-btn {
  fill: #1d1d1d;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header-logo {
  padding: 8px;
}

.logo-img {
  border-radius: 2px;
}

@media only screen and (min-width: 1200px) {
  .mobile-open-btn {
    display: none;
  }
  .logo-img {
    width: 40px;
    height: 40px;
  }
  .header {
    width: 100%;
  }
  .header-container {
    max-width: 1200px;
    padding: 0 68px;
    margin: 0 auto;
  }
  .header-nav {
    display: flex;
  }
  .nav-list {
    display: flex;
    gap: 56px;
  }

  .nav-item {
    display: flex;
    padding: 8px;
  }

  .nav-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    color: #1d1d1d;
  }

  .nav-link-home {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #b87000;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: #b87000;
    text-decoration: underline;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
